/**
 * Meet the Influencers Styles
 */

body {
  margin: 0;
  background-color: #f4f4f4;
}

#masthead-container, #footer {
	margin-bottom: 0;
  background-color: #333 !important;
}

.navbar-toggle, #search-icon-sm-md .btn-link {
  background-color: #555 !important;
}

#leaderboard-ad {
	margin: 0;
	padding: 0;
}

#leaderboard-ad .ad-widget:not(:empty) {
  margin: 20px auto;
}

.container[role=main] {
  width: 100%;
  padding: 0;
}

.container[role=main] .row {
  margin: 0;
}

.container[role=main] [class^=col-] {
  padding: 0;
}

.container[role=main] + .container > .ad {
  margin-bottom: 0;
}

.container[role=main] + .container > .ad > .ad-widget:not(:empty) {
  margin-top: 40px;
  margin-bottom: 40px;
}

#footer {
  margin-top: 0;
}

/**
 * Image
 */

.art {
  position: relative;
  background-color: #ddd;
	overflow: hidden;
	transform: translateZ(0);
}

.art img {
  display: block;
  width: 100%;
}

.art:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
	right: 0;
	background-image: url(../img/overlays/swoop.png);
	background-size: cover;
	background-position: left center;
	opacity: .4;
}

@supports (mix-blend-mode: multiply) {
	.art:after {
		opacity: 1;
		mix-blend-mode: multiply;
	}
}

@supports (object-fit: cover) {
  .art {
		height: 100vw;
  }

  .art img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    object-position: 50% 20%;
  }
}

/**
 * Influencers
 */

.influencer {
  background-color: white;
  transition: opacity .2s ease-in, transform .3s ease-in;
}

.animate-in {
  transform: translateY(80px);
  opacity: 0;
}

@keyframes slideUp {
  from {
    transform: translateY(80px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/**
 * Bio
 */

.bio {
  font: 14px/1.4em "McClatchy Sans";
  color: #222;
  padding: 1rem 2rem 2rem;
  background-color: white;
}

.name {
  font: 800 36px/1em "McClatchy Sans";
  margin-bottom: 5px;
}

.title {
  display: block;
  font: 300 13px/1.4em "McClatchy Sans Cond";
  margin: 0;
}

.answer {
  position: relative;
  max-width: 400px;
  margin-top: 1.5em;
  padding-top: 1.5em;
  border-top: 2px solid #333;
}

.answer p {
	font: 16px/22px "Lyon";
	margin: 0 0 8px;
}

.answer p:last-child {
	margin-bottom: 0;
}

.answer:before {
  content: "\201C";
  font: 60px/1em "Georgia";
  width: 60px;
  height: 24px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: #333;
}

.project-flag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 57px;
  box-sizing: content-box;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  transform: translateY(-120px);
  transition: transform 0.5s ease;
  border-bottom: 3px solid #0be6af;
  box-shadow: 0px 0px 12px black;
}

.project-flag > * {
  padding: 0 15px;
}

.project-flag.down {
  transform: translateY(0);
}

.project-flag .influencer-logo {
  display: block;
  height: 45px 
}

.project-icons {
	align-self: stretch;
	display: flex;
}

.project-icons a {
	flex: 1;
	padding: 8px;
	display: flex;
	align-items: center;
}

.project-icons svg {
  fill: white;
  width: 32px;
  height: 32px;
}

.splash {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
	min-height: 75vw;
}

@media (orientation: landscape) {
	.splash {
		min-height: 56.25vw;
	}
}

@media (orientation: portrait) and (max-aspect-ratio: 40/71) {
	.splash {
		min-height: 140vw;
	}
}

.splash > * {
	margin: 2rem 0;
}

.project-intro {
  max-width: 600px;
	padding: 0 15px;
	box-sizing: content-box;
}

.project-intro p {
  font: 300 17px/1.3em "McClatchy Sans";
  text-align: center;
}

.influencer-index {
  background-color: #e4e4e4;
}

.influencer-index h1 {
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.influencer-index .columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .influencer-index .columns {
    display: block;
  }
}

.influencer-index a {
  padding: 12px 0px;
  margin: 0px 12px;
  display: flex;
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #999;
}

.influencer-index .thumb {
  width: 75px;
  height: 75px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.influencer-index .thumb img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 20%;
}

.influencer-index .details {
  flex: 1;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.influencer-index .name {
  font: 800 17px/1em "McClatchy Sans";
  margin-top: 0;
}

/**
 * Ads
 */

#influencer-ad-slot {
	margin: 30px 0;
	min-height: 250px;
}

#influencer-ad-slot iframe {
	display: block;
	margin: 0 auto;
	background-color: #ccc;
}

/**
 * Tablet and Desktop
 */

@media (min-width: 600px) {
  .grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
  }

  .influencer {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 2px #999;
  }

  .art {
		height: 45vw;
  }

  .bio {
    flex: 1;
  }

	#influencer-ad-slot {
		margin-bottom: 0;
	}
}

@media (max-width: 1199px) {
	.influencer:nth-of-type(odd) .art:after {
		transform: rotate(180deg);
	}
}

@media (min-width: 600px) and (max-width: 1199px) {
  .influencer:nth-child(2n) {
    transition-delay: 100ms;
  }
}

@media (min-width: 1200px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .art {
    height: 30vw;
		max-height: 360px;
  }

  .influencer:nth-child(3n + 2) {
    transition-delay: 100ms;
  }
  
  .influencer:nth-child(3n + 3) {
    transition-delay: 200ms;
  }

	.influencer:nth-of-type(6n + 4) .art:after, .influencer:nth-of-type(6n + 5) .art:after, .influencer:nth-of-type(6n + 6) .art:after {
		transform: rotate(180deg);
	}
}

/**
 * Logo
 */

@keyframes fadein {
  from { opacity: 0; }
  50% { opacity: 0; }
  to { opacity: 1; }
}

#influencer-logo {
  position: relative;
  width: 90%;
}

#influencer-logo #map {
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  animation: fadein 4s ease;
}

#influencer-logo svg {
  position: relative;
}

#influencer-logo #the {
  animation: fadein 1s ease;
}

#influencer-logo #series {
  animation: fadein 3s ease;
}

#influencer-logo #influencer {
  animation: fadein 2s ease;
}
