/**
 * Influencers landing page
 */

body {
  margin: 0;
}

header, footer {
  background-color: #145288;
  height: 60px;
  position: relative;
  z-index: 4;
}

/**
 * Arrows
 */

.arrow-nav {
  position: fixed;
  top: 0;
  height: 100%;
  width: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.4;
  z-index: 3;
}

.arrow-nav:hover {
  background-color: #ddd;
}

.arrow-nav[data-direction=previous] img {
  transform: rotate(180deg);
}

.arrow-nav[data-direction=next] {
  right: 0;
}

/**
 * Individual Influencers
 */

.influencer-window {
  position: relative;
}

.influencer {
  display: flex;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  visibility: hidden;
  min-height: 100vh;
  z-index: 1;
}

.influencer.current {
  position: relative;
  visibility: visible;
  z-index: 2;
}

.influencer:not(.current) {
  max-height: 80vh;
}

.influencer.to-left, .influencer.to-right {
  visibility: visible;
}

/**
 * Image
 */

.art {
  flex: 3;
  position: relative;
  -webkit-clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
  transform: translate3d(0,0,0);
}

.art img {
  /* position: fixed; */
  /* top: 0; */
  /* right: 0; */
  /* left: 20vw; */
  /* width: 80vw; */
  /* height: 100vh; */

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: 30% 20%;
  opacity: 0;
  filter: grayscale(80%) contrast(120%) brightness(120%);
  /* transition: opacity 500ms; */
  /* transition-delay: 400ms; */
}

.current .art img {
  opacity: 1;
}

@media (max-width: 767px) {
  .influencer {
    flex-direction: column;
  }

  .art {
    order: 1;
    height: 400px;
    margin-bottom: 15px;
    clip-path: none;
  }

  .art img {
    width: 100%;
    left: 0;
  }
}

/**
 * Influencer summary
 */

.bio {
  flex: 1;
  padding: 0 10px 0 75px;
	box-sizing: border-box;
  min-width: 350px;
  font: 14px/1.4em "McClatchy Sans";
  color: #222;
  transform: translate3d(0,0,0);
}

.name {
  font: 300 32px/1em "McClatchy Sans";
  text-transform: uppercase;
  letter-spacing: -0.04em;
}

.name small {
  display: block;
  font-size: .6em;
}

/**
 * Transitions
 */

.influencer.from-left .bio {
  animation: 300ms move-from-left ease both;
}

.influencer.from-right .bio {
  animation: 300ms move-from-right ease both;
}

.influencer.from-right .art {
  animation: 300ms move-from-right 100ms ease both;
}

.influencer.to-left .bio {
  animation: 300ms move-to-left ease both;
}

.influencer.to-right .bio {
  animation: 300ms move-to-right ease both;
}

/**
 * Animations
 */

@keyframes move-from-left {
  from {
    transform: translateX(-250px);
    opacity: 0;
  }
}

@keyframes move-from-right {
  from {
    transform: translateX(250px);
    opacity: 0;
  }

  40% {
    opacity: 0;
  }
}

@keyframes move-to-left {
  to {
    transform: translateX(-250px);
    opacity: 0;
  }
}

@keyframes move-to-right {
  to {
    transform: translateX(250px);
    opacity: 0;
  }
}
